<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="username" placeholder="Enter Username" *ngIf="!hideInput"></ion-input>
  <ion-button (click)='hideInputField()' *ngIf="!hideInput">
    Submit
  </ion-button>
  <ion-list *ngIf="hideInput">
    <ion-item button *ngFor='let contact of contacts' routerLink='/chat/{{contact.name}}'  >
      <ion-avatar >
      <ion-img src={{contact.imageUri}}></ion-img>

      </ion-avatar>
      {{contact.name}}
    </ion-item> 
  </ion-list>


</ion-content>